<section class="wrapper" tabindex="0">
  <div class="wrapper-container">

  <div class="blog-banner" style="background-color:#f26c4f">
    <img src="/images/startup.png" alt="#">
  </div>

    <div class="blog-article">
        <h1>
          Strategies for startups
        </h1>
        <p>
          All startups all most fits in these categories. Brief collection of strategies that you can use to generate new ideas for startups.
        </p>
        <h4>
          Repurpose
        </h4>
        <p>
          Take a service or approach applied to one market, and apply it to another.
          Examples: Chill (Turntable.fm), Yammer (social networks for businesses)
        </p>
        <h4>
          Digitize
        </h4>
        <p>
          Take content or functionality that exists only in a legacy form and put it online or in an app.
          Examples: Dr. Chrono (medical records), Google Books
        </p>
        <h4>
          Automate
        </h4>
        <p>
          Take a task that seems tedious and currently requires humans and automate it away.
          Examples: Google (search rankings), EffectCheck (emotional impact analysis)
        </p>
        <h4>
          Unify
        </h4>
        <p>
          Create a common platform that ties together proprietary solutions or providers.
          Examples: Twilio (abstracts away carrier-specific APIs), Greplin (single search engine for lots of services)
        </p>
        <h4>
          Componentize
        </h4>
        <p>
          Take a piece of functionality that people currently implement themselves and make it a reusable component.
          Examples: Apigee (APIs), Get Satisfaction (support forums)
        </p>
        <h4>
          Connect
        </h4>
        <p>
          Transform a situation where people are isolated or lonely by connecting them in a novel way.
          Examples: Facebook, Meetup, LetsLunch
        </p>
        <h4>
          Catalyze
        </h4>
        <p>
          Encourage people in a community to generate data that would otherwise be less structured or available.
          Examples: StackOverflow (programming Q/A), reddit (social news), Curvio (IMDB for products and apparel)
        </p>
        <p>
          Actually all startup nicely fit into this list.
          Check out complete Article by Wesley Tansey
          <a href="http://wesleytansey.com/how-to-find-startup-ideas/">http://wesleytansey.com/how-to-find-startup-ideas/</a>
        </p>
    </div>

    <!-- footer -->
    <footer role="contentinfo" class="footer">
      <p><small>© 2014. All Rights Reserved.</small></p>
    </footer>

  </div>
</section>
