

        <section class="wrapper" tabindex="0">
          <div class="wrapper-container">

            <h1>Portfolio</h1>
            <h4>
              These are some of the things I've worked on.
            </h4>
            <br>
            <div class="product-row">
              <div class="blog-post product-post">
                <div class="post-img">
                  <div class="post-in-img">
                      <div class="img-overlay">
                        <a class="btn btn-primary" href="/#/blog/matchdep">show</a>
                      </div>
                      <img width="400" height="400" src="/images/startup3.png" alt="#">
                   </div>
                </div>

                <div class="post-details">
                  <a href="/#/blog/matchdep">
                    Brief collection of strategies that you can use to generate new ideas for startups
                  </a>
                </div>
              </div>

              <div class="blog-post product-post">
                <div class="post-img">
                  <div class="post-in-img">
                      <div class="img-overlay">
                        <a class="btn btn-primary" href="/#/blog/matchdep">show</a>
                      </div>
                      <img src="/images/startup3.png" alt="#">
                   </div>
                </div>

                <div class="post-details">
                  <a href="/#/blog/matchdep">
                    Brief collection of strategies that you can use to generate new ideas for startups
                  </a>
                </div>
              </div>
            </div>

            <hr>
            <h1>Blog</h1>
            <h4>
              These are some of the things I've worked on.
            </h4>
            <br>
            <div class="blog-post">
              <div class="post-img">
                <div class="post-in-img">
                    <div class="img-overlay">
                      <a class="btn btn-primary" href="/#/blog/matchdep">read</a>
                    </div>
                    <img width="400" height="400" src="/images/grunt.png" alt="#">
                 </div>
              </div>

              <div class="post-details">
                <h2>
                  <a href="/#/blog/matchdep">Dynamically Load Grunt Tasks</a>
                </h2>
                <p>
                  Matchdep is a node package which automatically load dependencies from package.json file.
                </p>
                <a href="/#/blog/matchdep">read </a>
              </div>
            </div>

            <div class="blog-post">
              <div class="post-img">
                <div class="post-in-img">
                    <div class="img-overlay">
                    <a class="btn btn-primary" href="/#/blog/startups">read</a>
                    </div>
                    <img width="400" height="400" src="/images/startup.png" alt="#">
                 </div>
              </div>

              <div class="post-details">
                <h2>
                  <a href="/#/blog/startups">Strategies for startups</a>
                </h2>
                <p>
                  Brief collection of strategies that you can use to generate new ideas for startups
                </p>
                <a href="/#/blog/startups">read </a>
              </div>
            </div>

            <hr>
            <br>
                <div itemscope itemtype="http://schema.org/BlogPosting" role="article" class="post">
                    <section class="post-container">
                      <header class="post-header">
                        <h1 itemprop="name headline" class="post-title">
                          design workflow
                        </h1>
                      </header>
                      <div itemprop="articleBody" class="post-body">
                        <img src="/images/workflow.png" />
                      </div>
                    </section>
                </div>

                <div itemscope itemtype="http://schema.org/BlogPosting" role="article" class="post">
                    <section class="post-container">
                      <header class="post-header">
                        <h1 itemprop="name headline" class="post-title">
                          experts answer
                        </h1>
                      </header>
                      <div itemprop="articleBody" class="post-body">
                        <img src="/images/jibbyjabba.png" />
                        <img src="/images/jibbyjabba_nav.gif" />
                      </div>
                    </section>
                </div>

                <div itemscope itemtype="http://schema.org/BlogPosting" role="article" class="post">
                    <section class="post-container">
                      <header class="post-header">
                        <h1 itemprop="name headline" class="post-title">
                          namshi.com
                        </h1>
                        <p>Namshi is the Middle East’s leading online destination for fashion and lifestyle. Namshi’s repertoire boasts of over 550 footwear and apparel fashion brands</p>
                      </header>
                      <div itemprop="articleBody" class="post-body">
                        <img src="/images/namshi.png" />
                        <img src="/images/namshi_quick_view.gif" />
                        <img src="/images/namshi_catalog.gif" />
                      </div>
                    </section>
                </div>

                <div itemscope itemtype="http://schema.org/BlogPosting" role="article" class="post">
                    <section class="post-container">
                      <header class="post-header">
                        <h1 itemprop="name headline" class="post-title">
                          monaqasat.com
                        </h1>
                        <p>E-tenders solution</p>
                      </header>
                      <div itemprop="articleBody" class="post-body">
                        <img src="/images/monaqasat.png" />
                      </div>
                    </section>
                </div>

                <div itemscope itemtype="http://schema.org/BlogPosting" role="article" class="post">
                    <section class="post-container">
                      <header class="post-header">
                        <h1 itemprop="name headline" class="post-title">
                          d3velopers.com
                        </h1>
                      </header>
                      <div itemprop="articleBody" class="post-body">
                        <img src="/images/d3velopers.png" />
                      </div>
                    </section>
                </div>

                <div itemscope itemtype="http://schema.org/BlogPosting" role="article" class="post">
                    <section class="post-container">
                      <header class="post-header">
                        <h1 itemprop="name headline" class="post-title">
                          more desings
                        </h1>
                      </header>
                      <div itemprop="articleBody" class="post-body">
                        <img src="/images/web0.png" />
                        <img src="/images/web1.png" />
                        <img src="/images/web2.png" />
                        <img src="/images/web3.png" />
                        <img src="/images/web4.png" />
                      </div>
                    </section>
                </div>

                <div itemscope itemtype="http://schema.org/BlogPosting" role="article" class="post">
                    <section class="post-container">
                      <header class="post-header">
                        <h1 itemprop="name headline" class="post-title">
                          inspireat.com
                        </h1>
                      </header>
                      <div itemprop="articleBody" class="post-body">
                        <img src="/images/inspireat.png" />
                      </div>
                    </section>
                </div>


                <div itemscope itemtype="http://schema.org/BlogPosting" role="article" class="post">
                    <section class="post-container">
                      <header class="post-header">
                        <h1 itemprop="name headline" class="post-title">
                          iphone App
                        </h1>
                      </header>
                      <div itemprop="articleBody" class="post-body">
                        <img src="/images/iphone.png" />
                      </div>
                    </section>
                </div>

            <!-- footer -->
            <footer role="contentinfo" class="footer">
              <p><small>© 2014. All Rights Reserved.</small></p>
            </footer>

          </div>
        </section>
